# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
ENV/

# IDE
.vscode/

# Logs / data
*.log
/data/*.csv
*.dat
*.npz

flight_plot.png
sitl_flight_log.csv
hitl_flight_log.csv
calibrate_servo
build/
sitl_sim
hitl_sim
buzzer_test
hitl_flight
sitl_servo
test_servo
test_baro
test_kalman
test_imu
kalman_test_log.csv
kalman_plot.png
sitl_flight_servo_log.csv
!docs/lookup_tables/**/*.csv
!data/**/*.csv
!data/**/*.log
small_scale_flight_log.csv
small_scale_flight
