# Hardware abstraction (board, pwmio)
adafruit-blinka

# Servo
gpiozero
adafruit-circuitpython-pca9685
adafruit-circuitpython-servokit

# Sensors 
adafruit-circuitpython-icm20x
adafruit-circuitpython-bmp3xx

# Data Filter
filterpy
numpy 